PD/12_23/PCTOWebClient/xml-resources/web-service-references/IstitutoEJB/wsdl/localhost_8080/IstitutoEJBService/IstitutoEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ejb/" name="IstitutoEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://ejb/" schemaLocation="http://localhost:8080/IstitutoEJBService/IstitutoEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="searchID">
<part name="parameters" element="tns:searchID"/>
</message>
<message name="searchIDResponse">
<part name="parameters" element="tns:searchIDResponse"/>
</message>
<message name="createIstituto">
<part name="parameters" element="tns:createIstituto"/>
</message>
<message name="createIstitutoResponse">
<part name="parameters" element="tns:createIstitutoResponse"/>
</message>
<message name="deleteIstituto">
<part name="parameters" element="tns:deleteIstituto"/>
</message>
<message name="deleteIstitutoResponse">
<part name="parameters" element="tns:deleteIstitutoResponse"/>
</message>
<message name="updateGoldCore">
<part name="parameters" element="tns:updateGoldCore"/>
</message>
<message name="updateGoldCoreResponse">
<part name="parameters" element="tns:updateGoldCoreResponse"/>
</message>
<message name="searchProvincia">
<part name="parameters" element="tns:searchProvincia"/>
</message>
<message name="searchProvinciaResponse">
<part name="parameters" element="tns:searchProvinciaResponse"/>
</message>
<message name="printNumStudenti">
<part name="parameters" element="tns:printNumStudenti"/>
</message>
<message name="printNumStudentiResponse">
<part name="parameters" element="tns:printNumStudentiResponse"/>
</message>
<message name="updateIstituto">
<part name="parameters" element="tns:updateIstituto"/>
</message>
<message name="updateIstitutoResponse">
<part name="parameters" element="tns:updateIstitutoResponse"/>
</message>
<message name="findIstituti">
<part name="parameters" element="tns:findIstituti"/>
</message>
<message name="findIstitutiResponse">
<part name="parameters" element="tns:findIstitutiResponse"/>
</message>
<message name="searchTipologia">
<part name="parameters" element="tns:searchTipologia"/>
</message>
<message name="searchTipologiaResponse">
<part name="parameters" element="tns:searchTipologiaResponse"/>
</message>
<message name="updateNumeroStudenti">
<part name="parameters" element="tns:updateNumeroStudenti"/>
</message>
<message name="updateNumeroStudentiResponse">
<part name="parameters" element="tns:updateNumeroStudentiResponse"/>
</message>
<portType name="IstitutoEJB">
<operation name="findAll">
<input wsam:Action="http://ejb/IstitutoEJB/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://ejb/IstitutoEJB/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="searchID">
<input wsam:Action="http://ejb/IstitutoEJB/searchIDRequest" message="tns:searchID"/>
<output wsam:Action="http://ejb/IstitutoEJB/searchIDResponse" message="tns:searchIDResponse"/>
</operation>
<operation name="createIstituto">
<input wsam:Action="http://ejb/IstitutoEJB/createIstitutoRequest" message="tns:createIstituto"/>
<output wsam:Action="http://ejb/IstitutoEJB/createIstitutoResponse" message="tns:createIstitutoResponse"/>
</operation>
<operation name="deleteIstituto">
<input wsam:Action="http://ejb/IstitutoEJB/deleteIstitutoRequest" message="tns:deleteIstituto"/>
<output wsam:Action="http://ejb/IstitutoEJB/deleteIstitutoResponse" message="tns:deleteIstitutoResponse"/>
</operation>
<operation name="updateGoldCore">
<input wsam:Action="http://ejb/IstitutoEJB/updateGoldCoreRequest" message="tns:updateGoldCore"/>
<output wsam:Action="http://ejb/IstitutoEJB/updateGoldCoreResponse" message="tns:updateGoldCoreResponse"/>
</operation>
<operation name="searchProvincia">
<input wsam:Action="http://ejb/IstitutoEJB/searchProvinciaRequest" message="tns:searchProvincia"/>
<output wsam:Action="http://ejb/IstitutoEJB/searchProvinciaResponse" message="tns:searchProvinciaResponse"/>
</operation>
<operation name="printNumStudenti">
<input wsam:Action="http://ejb/IstitutoEJB/printNumStudentiRequest" message="tns:printNumStudenti"/>
<output wsam:Action="http://ejb/IstitutoEJB/printNumStudentiResponse" message="tns:printNumStudentiResponse"/>
</operation>
<operation name="updateIstituto">
<input wsam:Action="http://ejb/IstitutoEJB/updateIstitutoRequest" message="tns:updateIstituto"/>
<output wsam:Action="http://ejb/IstitutoEJB/updateIstitutoResponse" message="tns:updateIstitutoResponse"/>
</operation>
<operation name="findIstituti">
<input wsam:Action="http://ejb/IstitutoEJB/findIstitutiRequest" message="tns:findIstituti"/>
<output wsam:Action="http://ejb/IstitutoEJB/findIstitutiResponse" message="tns:findIstitutiResponse"/>
</operation>
<operation name="searchTipologia">
<input wsam:Action="http://ejb/IstitutoEJB/searchTipologiaRequest" message="tns:searchTipologia"/>
<output wsam:Action="http://ejb/IstitutoEJB/searchTipologiaResponse" message="tns:searchTipologiaResponse"/>
</operation>
<operation name="updateNumeroStudenti">
<input wsam:Action="http://ejb/IstitutoEJB/updateNumeroStudentiRequest" message="tns:updateNumeroStudenti"/>
<output wsam:Action="http://ejb/IstitutoEJB/updateNumeroStudentiResponse" message="tns:updateNumeroStudentiResponse"/>
</operation>
</portType>
<binding name="IstitutoEJBPortBinding" type="tns:IstitutoEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createIstituto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteIstituto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateGoldCore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchProvincia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="printNumStudenti">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateIstituto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findIstituti">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchTipologia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateNumeroStudenti">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="IstitutoEJBService">
<port name="IstitutoEJBPort" binding="tns:IstitutoEJBPortBinding">
<soap:address location="http://localhost:8080/IstitutoEJBService/IstitutoEJB"/>
</port>
</service>
</definitions>