PD/12_23/PCTOWebClient/xml-resources/web-service-references/IstitutoEJB/wsdl/localhost_8080/IstitutoEJBService/IstitutoEJB.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ejb/">

<xs:element name="createIstituto" type="tns:createIstituto"/>

<xs:element name="createIstitutoResponse" type="tns:createIstitutoResponse"/>

<xs:element name="deleteIstituto" type="tns:deleteIstituto"/>

<xs:element name="deleteIstitutoResponse" type="tns:deleteIstitutoResponse"/>

<xs:element name="findAll" type="tns:findAll"/>

<xs:element name="findAllResponse" type="tns:findAllResponse"/>

<xs:element name="findIstituti" type="tns:findIstituti"/>

<xs:element name="findIstitutiResponse" type="tns:findIstitutiResponse"/>

<xs:element name="printNumStudenti" type="tns:printNumStudenti"/>

<xs:element name="printNumStudentiResponse" type="tns:printNumStudentiResponse"/>

<xs:element name="searchID" type="tns:searchID"/>

<xs:element name="searchIDResponse" type="tns:searchIDResponse"/>

<xs:element name="searchProvincia" type="tns:searchProvincia"/>

<xs:element name="searchProvinciaResponse" type="tns:searchProvinciaResponse"/>

<xs:element name="searchTipologia" type="tns:searchTipologia"/>

<xs:element name="searchTipologiaResponse" type="tns:searchTipologiaResponse"/>

<xs:element name="updateGoldCore" type="tns:updateGoldCore"/>

<xs:element name="updateGoldCoreResponse" type="tns:updateGoldCoreResponse"/>

<xs:element name="updateIstituto" type="tns:updateIstituto"/>

<xs:element name="updateIstitutoResponse" type="tns:updateIstitutoResponse"/>

<xs:element name="updateNumeroStudenti" type="tns:updateNumeroStudenti"/>

<xs:element name="updateNumeroStudentiResponse" type="tns:updateNumeroStudentiResponse"/>

<xs:complexType name="deleteIstituto">
<xs:sequence>
<xs:element name="arg0" type="tns:istituto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="istituto">
<xs:sequence>
<xs:element name="argomento" type="xs:string" minOccurs="0"/>
<xs:element name="goldCore" type="xs:boolean"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="nomeScuola" type="xs:string" minOccurs="0"/>
<xs:element name="provincia" type="xs:string" minOccurs="0"/>
<xs:element name="responsabile" type="xs:string" minOccurs="0"/>
<xs:element name="studentiAmmessi" type="xs:int"/>
<xs:element name="tipologiaScuola" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteIstitutoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAll">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllResponse">
<xs:sequence>
<xs:element name="return" type="tns:istituto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateGoldCore">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateGoldCoreResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="printNumStudenti">
<xs:sequence>
<xs:element name="istituto" type="tns:istituto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="printNumStudentiResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findIstituti">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findIstitutiResponse">
<xs:sequence>
<xs:element name="return" type="tns:istituto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchProvincia">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchProvinciaResponse">
<xs:sequence>
<xs:element name="return" type="tns:istituto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchID">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchIDResponse">
<xs:sequence>
<xs:element name="return" type="tns:istituto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateNumeroStudenti">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateNumeroStudentiResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="createIstituto">
<xs:sequence>
<xs:element name="arg0" type="tns:istituto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createIstitutoResponse">
<xs:sequence>
<xs:element name="return" type="tns:istituto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateIstituto">
<xs:sequence>
<xs:element name="arg0" type="tns:istituto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateIstitutoResponse">
<xs:sequence>
<xs:element name="return" type="tns:istituto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchTipologia">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchTipologiaResponse">
<xs:sequence>
<xs:element name="return" type="tns:istituto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>