PD/12_23/AziendaWebClient/src/META-INF/wsdl/localhost_8080/AziendaEJBService/AziendaEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ejb/" name="AziendaEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://ejb/" schemaLocation="http://localhost:8080/AziendaEJBService/AziendaEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteAzienda">
<part name="parameters" element="tns:deleteAzienda"/>
</message>
<message name="deleteAziendaResponse">
<part name="parameters" element="tns:deleteAziendaResponse"/>
</message>
<message name="updateAssunzioni">
<part name="parameters" element="tns:updateAssunzioni"/>
</message>
<message name="updateAssunzioniResponse">
<part name="parameters" element="tns:updateAssunzioniResponse"/>
</message>
<message name="updateAzienda">
<part name="parameters" element="tns:updateAzienda"/>
</message>
<message name="updateAziendaResponse">
<part name="parameters" element="tns:updateAziendaResponse"/>
</message>
<message name="searchByID">
<part name="parameters" element="tns:searchByID"/>
</message>
<message name="searchByIDResponse">
<part name="parameters" element="tns:searchByIDResponse"/>
</message>
<message name="createAzienda">
<part name="parameters" element="tns:createAzienda"/>
</message>
<message name="createAziendaResponse">
<part name="parameters" element="tns:createAziendaResponse"/>
</message>
<message name="printPersoneDaAssumere">
<part name="parameters" element="tns:printPersoneDaAssumere"/>
</message>
<message name="printPersoneDaAssumereResponse">
<part name="parameters" element="tns:printPersoneDaAssumereResponse"/>
</message>
<message name="searchByTipologia">
<part name="parameters" element="tns:searchByTipologia"/>
</message>
<message name="searchByTipologiaResponse">
<part name="parameters" element="tns:searchByTipologiaResponse"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<portType name="AziendaEJB">
<operation name="deleteAzienda">
<input wsam:Action="http://ejb/AziendaEJB/deleteAziendaRequest" message="tns:deleteAzienda"/>
<output wsam:Action="http://ejb/AziendaEJB/deleteAziendaResponse" message="tns:deleteAziendaResponse"/>
</operation>
<operation name="updateAssunzioni">
<input wsam:Action="http://ejb/AziendaEJB/updateAssunzioniRequest" message="tns:updateAssunzioni"/>
<output wsam:Action="http://ejb/AziendaEJB/updateAssunzioniResponse" message="tns:updateAssunzioniResponse"/>
</operation>
<operation name="updateAzienda">
<input wsam:Action="http://ejb/AziendaEJB/updateAziendaRequest" message="tns:updateAzienda"/>
<output wsam:Action="http://ejb/AziendaEJB/updateAziendaResponse" message="tns:updateAziendaResponse"/>
</operation>
<operation name="searchByID">
<input wsam:Action="http://ejb/AziendaEJB/searchByIDRequest" message="tns:searchByID"/>
<output wsam:Action="http://ejb/AziendaEJB/searchByIDResponse" message="tns:searchByIDResponse"/>
</operation>
<operation name="createAzienda">
<input wsam:Action="http://ejb/AziendaEJB/createAziendaRequest" message="tns:createAzienda"/>
<output wsam:Action="http://ejb/AziendaEJB/createAziendaResponse" message="tns:createAziendaResponse"/>
</operation>
<operation name="printPersoneDaAssumere">
<input wsam:Action="http://ejb/AziendaEJB/printPersoneDaAssumereRequest" message="tns:printPersoneDaAssumere"/>
<output wsam:Action="http://ejb/AziendaEJB/printPersoneDaAssumereResponse" message="tns:printPersoneDaAssumereResponse"/>
</operation>
<operation name="searchByTipologia">
<input wsam:Action="http://ejb/AziendaEJB/searchByTipologiaRequest" message="tns:searchByTipologia"/>
<output wsam:Action="http://ejb/AziendaEJB/searchByTipologiaResponse" message="tns:searchByTipologiaResponse"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://ejb/AziendaEJB/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://ejb/AziendaEJB/findAllResponse" message="tns:findAllResponse"/>
</operation>
</portType>
<binding name="AziendaEJBPortBinding" type="tns:AziendaEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteAzienda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateAssunzioni">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateAzienda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createAzienda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="printPersoneDaAssumere">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchByTipologia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AziendaEJBService">
<port name="AziendaEJBPort" binding="tns:AziendaEJBPortBinding">
<soap:address location="http://localhost:8080/AziendaEJBService/AziendaEJB"/>
</port>
</service>
</definitions>